

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(69, 69, 69);
    padding: 0px 60px 0px 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  li {
    list-style: none;
    padding: 10px 15px 0px;
    position: relative;
  }
  
  a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
  }
  
  a:hover {
    color: rgb(119, 194, 219);
  }
  
  a:hover::after {
    content: "";
    width: 40%;
    height: 1px;
    background-color: grey;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  @media screen and (max-width: 769px) {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 50px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: black;
      padding: 30px 0 0 20px;
      transition: 0.3s ease-in-out;
    }
  
    ul.active {
      right: 0px;
    }
  
    li {
      margin-bottom: 15px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
      color: white;
    }
  }
  