.mainContainer {
    background-color: rgb(22, 22, 22);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyDiv {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin-top: 10%;
    border-radius: 10px;
    padding: 100px;
   /* height: 800px; */
}

.bodyDiv:hover {
    transform: scale(1.01);
  }

.login {
    color: rgb(173, 173, 173);
    
}

.registerDiv{
    width: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-color: yellow; */
    cursor: pointer;
}

.register{
    color: rgb(172, 172, 172);
}

.body:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
  
}


.login {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    padding: 5%;
    /* margin-left: 10%; */
    /* height: 100vh; */
}

.login input {
    background-color: rgb(199, 199, 199);
    margin-bottom: 35px;
    margin-top: 25px;
    padding: 5px;
    /* border-radius: 5px; */
    background-color: black;
    border-color: white;
    border: 5px;
    outline: auto;
    color: white;

}

.login button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.imgContainer{
    width: 150px;
    height: 150px;
}
